# Login Credentials
LOGIN_USER=tomsmith
LOGIN_PASS=SuperSecretPassword!

# Base URLs
BASE_URL_TODO=https://demo.playwright.dev/todomvc
BASE_URL_LOGIN=https://the-internet.herokuapp.com/login
BASE_URL_API=https://dummyjson.com
