name: Playwright Tests

on:
  push:
  pull_request:
  schedule:
    - cron: '0 7 * * *'

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        shard: [1, 2, 3]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm ci

      - name: Install browsers
        run: npx playwright install --with-deps

      - name: Run Playwright with sharding (list + allure + html)
        env:
          BASE_URL: ${{ secrets.BASE_URL }}
          BASE_URL_TODO: ${{ secrets.BASE_URL_TODO }}
          BASE_URL_API: ${{ secrets.BASE_URL_API }}
          LOGIN_USER: ${{ secrets.LOGIN_USER}}
          LOGIN_PASS: ${{ secrets.LOGIN_PASS }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          CI: true
        run: npx playwright test --reporter=list,allure-playwright,html --shard=${{ matrix.shard }}/3

      - name: Generate Allure report
        if: always()
        run: npm run allure:generate

      - name: Upload Playwright HTML report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report-shard-${{ matrix.shard }}
          path: playwright-report
          retention-days: 7

      - name: Upload Allure report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-report-shard-${{ matrix.shard }}
          path: allure-report
          retention-days: 7

  merge-reports:
    needs: test
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Merge Allure Reports
        uses: actions/download-artifact@v4
        with:
          pattern: allure-report-*
          merge-multiple: true
          path: merged-allure-report

      - name: Upload Merged Allure Report
        uses: actions/upload-artifact@v4
        with:
          name: merged-allure-report
          path: merged-allure-report
          retention-days: 30
